.header {
    background: linear-gradient(hsla(0, 66%, 10%, 0.5), 50%, #000), url("../castle.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    padding: 2rem 5rem;
}

.header nav ul li a,
.navbar-brand {
    color: white;
    font-family: 'Noto Sans HK', sans-serif;
}
#links {
    font-weight: 500;
}
#links:hover {
    border-bottom: 1px solid white;
    transition: 0.3s;
    
}
.navbar-brand {
    font-size: 2rem;
    font-family: 'Pacifico', cursive;
    font-weight: 700;
}
.navbar-brand:hover {
    color: #fff;
}
#spans {
    background-color: #fff;
}
#inside {
    border-left: thick solid #ff2e63;
    margin-left: 1rem;
    margin-top: 10rem;
  }
#inside h1 {
    font-family: 'Bree Serif', serif;
}
#inside p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3rem;
}
#first-btn {
    border: 1px solid #fff;
    padding: 1rem 5rem;
    color: #fff;
}

#first-btn:hover {
    background: #fff;
    border: none;
    color: black;
}


#second {
    padding: 5rem 0;
    background: #f0f5f9;;
}

#second h1 {
    font-family: 'Pacifico', cursive;
    font-size: 3rem;
}

#second h2 {
    font-family: 'Bree Serif', serif;
    margin-top: 1.4rem;
    margin-bottom: 1.5rem;
    line-height: 2.8rem;
}

#second p {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5rem;
}

#inner {
    border-left: 8px solid #ff2e63;
}

#button {
    background: #ff2e63;
    border-radius: 0;
    padding: 1rem 4rem;
    color: #fff;
    margin-top: 1.2rem;
}

#second-inner {
    padding-left: 5rem;
}
#second-inner i {
    font-size: 5rem;
    margin-bottom: 2rem;
    color: #ff2e63;;
}
#second-inner p {
    font-family: 'Open Sans', sans-serif;
}

#footer {
    background: #000;
    padding: 2rem 0;
    text-align: center;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}

@media (max-width: 736px) {
    .header {
        background: linear-gradient(hsla(0, 66%, 10%, 0.5), 50%, #000), url("../background.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 90vh;
        padding: 0;
    }
    #inside {
        border-left: thick solid #ff2e63;
        margin-left: 1rem;
        margin-top: 6rem;
      }
    #inside h1 {
        font-family: 'Bree Serif', serif;
        font-size: 1.5rem;
    }
    #inside p {
        font-family: 'Open Sans', sans-serif;
        font-size: 1rem;
    }
    
    #first-btn {
        border: 1px solid #fff;
        padding: 1rem 2rem;
        color: #fff;
    }

    #second {
        padding: 2rem 0;
       
    }
    #second-inner {
        padding: 2rem 0 0 1rem;
    }
    #second-inner i {
        font-size: 3rem;
        margin: 0.4rem 0 0.4rem 0;
    }
    #second h1 {
        font-family: 'Pacifico', cursive;
        font-size: 2rem;
    }
    #button {
        background: #ff2e63;
        border-radius: 0;
        padding: 1rem 2rem;
        color: #fff;
        margin-top: 1.2rem;
    }
}

@media (min-width: 1024px) {
    .header {
        background: linear-gradient(hsla(0, 66%, 10%, 0.5), 50%, #000), url("../background.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 60vh;
        padding: 2rem 5rem;
    }
}
@media (min-width: 1200px) {
    .header {
        background: linear-gradient(hsla(0, 66%, 10%, 0.5), 50%, #000), url("../background.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 90vh;
        padding: 2rem 5rem;
    }
}