.header {
    background: linear-gradient(hsla(0, 66%, 10%, 0.5), 50%, #000), url("../castle.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    padding: 2rem 5rem;
}

.header nav ul li a,
.navbar-brand {
    color: white;
    font-family: 'Noto Sans HK', sans-serif;
}
#links {
    font-weight: 500;
}
#links:hover {
    border-bottom: 1px solid white;
    transition: 0.3s;
    
}
.navbar-brand {
    font-size: 2rem;
    font-family: 'Pacifico', cursive;
    font-weight: 700;
}
.navbar-brand:hover {
    color: #fff;
}
#spans {
    background-color: #fff;
}
#inside {
    border-left: 8px solid #ff2e63;
    margin-left: 1rem;
    margin-top: 10rem;
  }
#inside h1 {
    font-family: 'Bree Serif', serif;
}
#inside p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3rem;
}
#first-btn {
    border: 1px solid #fff;
    padding: 1rem 5rem;
    color: #fff;
}

#first-btn:hover {
    background: #fff;
    border: none;
    color: black;
}

#second {
    padding: 3rem 0;
    background: #fafafa;
}

form label {
    font-family: 'Bree Serif', serif;
    font-size: 2rem;
}
input[type="text"] {
    padding: 1.8rem 0;
    border: none;
    border-radius: none;
    border-bottom: 0.2px solid #000;
}
#submit {
    background: #ff2e63;
    border: none;
    padding: 1rem 4rem;
    color: #fff;
}


#footer {
    background: #000;
    padding: 2rem 0;
    text-align: center;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}