
.header {
    background: linear-gradient(hsla(0, 66%, 10%, 0.5), 50%, #000), url("../background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    padding: 2rem 5rem;
}

.header nav ul li a{
    color: white;
    font-family: 'Noto Sans HK', sans-serif;
}
#links {
    font-weight: 500;
}
#links:hover {
    border-bottom: 1px solid white;
    transition: 0.3s;
    
}
.navbar-brand {
    font-size: 2rem;
    font-family: 'Pacifico', cursive;
    font-weight: 700;
    color: #fff;
}
.navbar-brand:hover {
    color: #fff;
}
#spans {
    background-color: #fff;
}
#inside {
    border-left: thick solid #ff2e63;
    margin-left: 1rem;
    margin-top: 10rem;
  }
#inside h1 {
    font-family: 'Bree Serif', serif;
}
#inside p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3rem;
}

#first-btn {
    border: 1px solid #fff;
    padding: 1rem 5rem;
    color: #fff;
}

#first-btn:hover {
    background: #fff;
    border: none;
    color: black;
}

#second {
    background: #f0f5f9;
    padding: 7rem 0;
}
#second h2 {
    margin-bottom: 2rem;
    font-family: 'Bree Serif', serif;
    font-size: 3rem;
}
#second p {
    line-height: 1.6rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
}
#second-img {
    height: 30rem;
    width: 25rem;
    margin-left: 7rem;
    margin-top: -3rem;
}
#third {
    background:linear-gradient(hsla(0, 66%, 10%, 0.5), 50%, #000), url("../background2.jpg");
    padding: 7rem 0;
    color: #fff;
}
#third-img {
    width: 30rem;
    height: 33rem;
    margin-top: -2rem;
}
#third h2 {
    margin-bottom: 2rem;
    font-family: 'Bree Serif', serif;
    font-size: 3rem;
}
#third p {
    line-height: 1.6rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
}
#third-btn {
    background: #ff2e63;
    border-radius: 0;
    padding: 1rem 4rem;
    color: #fff;
    margin-top: 1.2rem;
}

#fourth {
    background:#f0f5f9;
    padding: 7rem 0;
    color: #000;
    
}
#fourth-inner {
    border-left: thick solid #ff2e63;
}
#fourth h2 {
    margin-bottom: 1.3rem;
    font-family: 'Bree Serif', serif;
    font-size: 3rem;
}
#fourth p {
    line-height: 1.6rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
}

#footer {
    background: #000;
    padding: 2rem 0;
    text-align: center;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}

@media (max-width: 667px) {
    .header {
        background: linear-gradient(hsla(0, 66%, 10%, 0.5), 50%, #000), url("../background.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 90vh;
        padding: 0;
    }
    #inside {
        border-left: thick solid #ff2e63;
        margin-left: 1rem;
        margin-top: 6rem;
      }
    #inside h1 {
        font-family: 'Bree Serif', serif;
        font-size: 1.5rem;
    }
    #inside p {
        font-family: 'Open Sans', sans-serif;
        font-size: 1rem;
    }
    
    #first-btn {
        border: 1px solid #fff;
        padding: 1rem 2rem;
        color: #fff;
    }
    #second {
        background: #f0f5f9;
        padding: 5rem 0;
    }
    #second h2 {
        margin-bottom: 0.8rem;
        font-family: 'Bree Serif', serif;
        font-size: 2rem;
        margin-top: 2rem;
    }
    #second p {
        line-height: 1.6rem;
        font-family: 'Open Sans', sans-serif;
        font-weight: normal;
    }
    #second-img {
        height: 15rem;
        width: 20rem;
        margin-left: 0rem;
        margin-top: -3rem;
    }
    #third {
        background:linear-gradient(hsla(0, 66%, 10%, 0.5), 50%, #000), url("../background2.jpg");
        padding: 2rem 0;
        color: #fff;
    }
    #third h2 {
        margin-bottom: 2rem;
        font-family: 'Bree Serif', serif;
        font-size: 2rem;
    }
    
    #fourth {
        background:#f0f5f9;
        padding: 2rem 0;
        color: #000;
    }
    #fourth h2 {
        margin-bottom: 1.3rem;
        font-family: 'Bree Serif', serif;
        font-size: 2rem;
    }
    #fourth-inner {
        border-left: none;
        padding-left: 0;
    }
    #four {
        height: 23rem;
        width: 20rem;
        margin-left: 0rem;
        margin-top: 1rem;
    }
    
}
